body {
    background-color: #030C49;
    color: white;
    font:  16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e177da;
    color: #333;
}

input[type="text"],input[type="number"],
textarea {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #7b8ee4;
    border-radius: 4px;
    color: white;
    min-width: 75%;
}

